
:root {
  --toolbar-height:40px;
  --max-with:500px;

  --color-primary:	#0c2e5a;	
  --color-secondary:	rgba(39, 80, 233 ,0.75);	
  --color-tertiary:	#606c76;	
  --color-quaternary:	#d1d1d1;	
  --color-quinary:	#e1e1e1;	
  --color-initial:	#ffffff;  
}


body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  height: 100vh;
  @media (min-width:2000px) {
    zoom:2;
    font-size: 18px;
  }
}

input:focus[type='email']{
  border-color: var(--color-primary);     
}

button{
  background-color: var(--color-primary);     
  border-color: var(--color-primary);     
}

button:hover{
  background-color: var(--color-secondary)!important;
  filter: brightness(110%) saturate(140%);                    
  border-color: var(--color-primary)!important;
  cursor: pointer;
}


a{
  color: var(--color-secondary);     
  border-bottom: 2px dotted var(--color-quinary);
}

a:hover{
  color: var(--color-primary);
  filter: brightness(110%) saturate(140%);                    
  border-bottom: 2px solid var(--color-primary);
}


ul{
  list-style: none;
  margin-bottom: 50px;
}

.body-lock{
  overflow: hidden!important;
  background-color: #efefef;
}

.text-center {
  text-align: center;
}
.hide {
  display: none;
}

.bold{
  font-weight: 700;
}


ol{
  list-style-type: decimal;
}

.info {
  padding: .6em .8em;
  margin: 0.8em -0.6em;
  background-color: rgb(175 184 193 / 20%);
  border-radius: 6px;    
  overflow: hidden;
  max-width: 300px;
  text-overflow: ellipsis;
}


.container {
  @media (max-width:500px) {
    padding: 0 0.4rem!important;
  }
}

.media-display {
  @media print {
    display: none!important;
  }
}

